<!-- 
<div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{errorMsg}}
   </div>
  
   <div class="row">
     <div class="col-sm-3" routerLink="" *ngFor="let s of students">
       <div class="card" >
         <div class="card-body">
           <h5 class="card-title"> Student Name:{{s.userName}}</h5>           

           <br> <br>
  
        <button type="button" name="item-1-button"
        id="item-1-button" routerLink="" >View Student details</button>
  
  
  
     </div>
   </div>
     </div>
   </div>
   -->


   <div
 
class="container">
    <h2>Student Details</h2>

    <table class="table table-striped">

      
<thead>

        
<tr>

          
<th
 
scope="col">#</th>

          
<th
 
scope="col">Name</th>

          
<th
 
scope="col">Email</th>

          
<th
 
scope="col">Phone Number</th>

          
<th
 
scope="col">Course</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>John Doe</td>
          <td>johndoe@example.com</td>
          <td>+1234567890</td>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jane Doe</td>
          <td>janedoe@example.com</td>
          <td>+1987654321</td>
          <td>Software Engineering</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Peter Jones</td>
          <td>peterjones@example.com</td>
          <td>+1456789012</td>
          <td>Information Technology</td>
        </tr>
      </tbody>
    </table>
  </div>